<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Escola Search</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <main>

        <h1>Bem-vindo ao Escola Search!</h1>

        <p>Antes de começar, qual é o seu nome?</p>

        <form method="POST" class="formulario-nome">

            <input
                type="text"
                name="nome"
                placeholder="Digite seu nome"
                required
            >

            <button type="submit">
                Entrar
            </button>

        </form>

    </main>

</body>

</html>
